body {background-color: lightslategrey}
#BioImg {

    padding-right: 10px;

}

#nameTag {

    position: fixed;

    text-align: center;

    background: #4aaaa5;

    width: 220px;

    height: 100px;

    margin-top: 0px;

    color: #ffffff;

    line-height: 100px;
}
.card-text {
position: relative;
background-color:#17A2B8;
right:21px;
bottom:125px;
color:white;
width:18rem;
padding:3px;
text-align: center;
font-weight: 500;
font-family: serif;
}